.time-right {
    font-size: 10px;
    float: right;
    padding-right: 12px;
    color: gray;
}
.message-wrapper-right {
    width: 100%;
    min-height: 50;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 2px;
}
.message-wrapper-left {
    width: 100%;
    min-height: 50;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: gray;
    margin-bottom: 3px;
}
.time-left {
    font-size: 10px;
    float: left;
    padding-left: 12px;
    color: gray;
}
