* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    height: 100vh;
    min-width: 353px;
}
#root {
    height: 100vh;
}
.App-Container {
    width: 100%;
    overflow: auto;
}
.App {
    height: 100%;
    overflow: hidden;
    position: relative;
    top: 0px;
    left: 0px;
}
